
.footer__container
	max-width: 1120px
	width: 100%
	margin: auto
	padding: 0 20px
	box-sizing: border-box

.footer__top
	padding: 50px 0 60px 0

.footer__items
	display: flex
	align-items: flex-start
	justify-content: space-between

.footer__item
	margin-right: 2%

.footer__item--portal
	width: 18%

.footer__portal__text
	margin-top: 12px
	color: $c-0
	font-family: $t-0

.footer__portal__text__top
	font-size: 11px
	color: $c-3
	display: block
	font-family: $t-1

.footer__portal__text__bottom
	margin-top: 5px
	font-size: 11px
	color: $c-3
	display: block
	font-family: $t-1
	a
		position: relative
		display: inline-block
		color: $c-3
		&:before
			content: "\e60e"
			font-family: 'icomoon'
			position: absolute
			top: -3px
			right: -9px
			font-size: 8px
			color: $c-3

.footer__item--contact
	margin-right: 0

.footer__item--atencion
	width: 235px

.footer__item__title
	margin-bottom: 25px
	position: relative
	padding-left: 8px
	display: inline-block
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		left: 0
		width: 3px
		height: 80%
		background: $c-2
	h3
		color: $c-3
		margin: 0
		font-size: 15px
		font-family: $t-1
		text-transform: uppercase

.footer__item__list__element
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0

.footer__item__list__link
	position: relative
	font-size: 16px
	color: $c-3
	font-family: $t-3
	box-sizing: border-box
	transition: all .3s linear

.footer__item__list__link:hover
	color: $c-1

	
.footer__item__direction__item
	margin-bottom: 15px
	position: relative
	box-sizing: border-box
	p
		display: block
		font-family: $t-3
		font-size: 16px
		color: $c-3

.footer__item__tel
	display: flex
	align-items: center
	margin-bottom: 15px
	a
		margin: 0
		font-size: 25px
		color: $c-1
		font-family: $t-1

.footer-number-icon
	margin: 0
	color: $c-2
	font-size: 25px
	margin-right: 10px

.footer__item__mail
	a
		font-size: 22.35px
		color: $c-1

.footer__bottom
	height: 62px
	width: 100%
	background: $blanco
	position: relative

.footer__container--bottom
	height: 100%
	display: flex
	align-items: center

.footer__copyright
	font-size: 11px
	color: $c-4
	font-family: $t-0
	p 
		margin: 0

.footer__redes
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)

.footer__redes__list
	display: flex
	align-items: center

.footer__redes__item
	margin: 0 7px

.footer__redes__link
	width: 27px
	height: 27px
	display: block

.footer__item__redes
	margin-top: 30px

.footer__item__redes__item
	display: inline-block
	vertical-align: middle
	margin-right: 10px
	&:last-child
		margin-right: 0

.footer__item__redes__link
	transition: all .25s linear
	color: $c-3
	font-size: 20px
	&:hover
		color: $c-1

@media screen and (max-width: 1024px)
	.footer__item--temas
		display: none

@media screen and (max-width: 960px)
	.footer__item--portal
		display: none

@media screen and (max-width: 767px)
	.footer__container
		padding: 0 15px

	.footer__redes
		display: none

	.footer__container--bottom
		justify-content: center

@media screen and (max-width: 640px)
	.footer__items
		flex-wrap: wrap

	.footer__item
		width: 100% !important
		margin: 0 !important
		margin-bottom: 25px !important
		text-align: center
		&:last-child
			margin-bottom: 0 !important

	.footer__item__mail a
		font-size: 16px

	.footer__item__tel a
		font-size: 20px

	.footer__item__direction__item:before
		display: none

	.footer__item__tel
		justify-content: center

	.footer__top
		padding: 40px 0
		