.div-example
	height: 2000px
	width: 100%
	background: red 

.header-wrap
	position: relative
	height: 60px
	transition: all .2s linear

.header-fixed
	position: fixed
	top: 0px
	left: 0
	width: 100%
	height: 110px
	z-index: 1000
	background: $blanco
	transition: all .2s linear
	border-bottom: 1px solid #dcdcdc

.header-wrap.scrolling
	height: 70px
	.header-fixed
		height: 70px
	.header-bg
		top: 0
	.header-logo-desktop
		width: 80%

.header-cnt
	display: flex
	height: 100%
	align-items: center
	justify-content: space-between
	flex-direction: row
	max-width: 1440px
	margin: auto
	padding: 0 20px 
	position: relative
	box-sizing: border-box

// header logo
.header-logo
	margin: 0
	max-width: 250px
	// position: absolute
	// top: 50%
	// transform: translateY(-50%)
	// left: 20px
	img 
		display: block
		height: auto
		width: 100%
	.header-logo-desktop
		opacity: 1
		visibility: visible
		transition: all .2s linear

.header-cnt-list
	display: flex
	align-items: center
	justify-content: flex-end

// header list
.header-list
	display: flex

	.header-item
		display: inline-block
		margin-right: 50px
		&:last-child
			margin-right: 0

	.header-link
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		color: $c-0
		font-size: 15px
		line-height: 15px
		font-family: $t-3
		letter-spacing : 1.19px
		text-transform: uppercase
		position: relative
		transition: all .35s ease-in-out

	//hover
	.header-link:hover
		color: $c-1

	//active
	.header-link.active
		color: $c-1
	
//hover & active with class scrolling
.header-fixed.scrolling
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		&:before
			width: 70%
	.header-link.active
		color: $blanco
		text-decoration: inherit



//languages
.header-languages
	padding-left: 20px
	position: relative
	&:before 
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 3px
		background: $c-0

.header-number-link
	display: flex
	align-items: center

.header-number-icon
	font-size: 27px
	color: $c-1
	margin: 0
	display: block
	margin-right: 10px

.header-number-link-a
	font-size: 22px
	color: $c-1
	font-family: $t-2
	display: block
	letter-spacing: 1px
	margin: 0

// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.menu-responsive
		display: block
		margin-top: 20px
	.header-item
		display: block
	.header-link 
		display: block
		padding-left: 30px
		font-size: 14px
		height: 45px
		line-height: 45px
		color: $c-3
		text-decoration: inherit
	.header-number
		display: block
		margin-top: 15px
	.header-number-link
		margin-left: 30px
	.header-number-icon
		font-size: 22px
	.header-number-link-a
		font-size: 17px

.menu-sidebar
	.header-link.active 
		background: $c-1
		color: $blanco 


.responsive-logo
	display: block
	width: 70%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto


.menu-mobile-close, .menu-mobile-open
	background: $c-0
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 10px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1200

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: $c-0
	color: $blanco

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)

body.active
	overflow: hidden

@media screen and (max-width: 1400px)
	.header-logo
		max-width: 220px

	.header-list .header-item
		margin-right: 35px

	.header-number-link-a
		font-size: 20px

@media screen and (max-width: 1250px)
	//media query header
	.header-cnt-list
		display: none

	.header-languages
		display: none

	.header-wrap
		height: 60px
		
	.header-fixed
		height: 60px

	.header-wrap.scrolling .header-fixed
		height: 60px

	.header-wrap.scrolling .header-logo-desktop
		width: 100%

	.header-fixed.scrolling .header-logo
		max-width: 150px

	.header-logo
		max-width: 150px

	.menu-mobile-close, .menu-mobile-open
		display: block

	.header-fixed.scrolling
		height: 60px
	
	.header-number
		display: none

@media screen and (max-width: 640px)
	.responsive-logo
		display: none
