footer.footer
	.footer__top
		.footer__container
			.footer__items
				.footer__item.footer__item--portal
					.footer__portal__image
						img(src=`${STATIC_URL}img/header-logo.svg`, alt="")
					.footer__portal__text
						span.footer__portal__text__top SPRINTER® Todos los Derechos Reservados
						span.footer__portal__text__bottom Diseño de Páginas Web:   
							a(href="http://staffdigital.pe/", target="_blank") StaffDigital
				.footer__item.footer__item--temas
					.footer__item__title
						h3 Mapa de Sitio
					.footer__item__list
						ul
							li.footer__item__list__element
								a.footer__item__list__link(href="nosotros.html") Nosotros
							li.footer__item__list__element
								a.footer__item__list__link(href="servicios.html") Servicios
							li.footer__item__list__element
								a.footer__item__list__link(href="asesoria.html") Asesoría
							li.footer__item__list__element
								a.footer__item__list__link(href="contacto.html") Contacto
				.footer__item.footer__item--atencion
					.footer__item__title
						h3 Dirección
					.footer__item__direction
						.footer__item__direction__item
							p Jr. Carlos Baca Flor 709 Of. 302  Santiago de Surco, Lima - Perú.
						.footer__item__redes
							.footer__item__title
								h3 Redes Sociales
							ul.footer__item__redes__list
								li.footer__item__redes__item
									a.footer__item__redes__link.icon-facebook(href="#", target="t_blank")
								li.footer__item__redes__item
									a.footer__item__redes__link.icon-whats(href="#", target="t_blank")
								li.footer__item__redes__item
									a.footer__item__redes__link.icon-YOUTUBE(href="#", target="t_blank")
								li.footer__item__redes__item
									a.footer__item__redes__link.icon-facebook(href="#", target="t_blank")
								li.footer__item__redes__item
									a.footer__item__redes__link.icon-facebook(href="#", target="t_blank")
				.footer__item.footer__item--contact
					.footer__item__title
						h3 Contáctanos
					.footer__item__inside.footer__item__tel
						span.span.footer-number-icon.icon-TELEFONO
						a(href="tel:(511) 372-3301") (511) 372-3301


