header.header-wrap
	.header-fixed
		.header-bg
		.header-cnt
			a(href="home.html").header-logo
				img.header-logo-desktop(src=`${STATIC_URL}img/header-logo.svg`, alt="")
			.header-cnt-list
				ul.header-list
					li.header-item
						a.header-link(href="nosotros.html") Nosotros
					li.header-item
						a.header-link(href="servicios.html") Servicios
					li.header-item
						a.header-link(href="asesoria.html") Asesorías
					li.header-item
						a.header-link(href="contacto.html") Contacto
					li.header-item
						a.header-link(href="#") Facturación Electrónica
			.header-number
				.header-number-link
					span.header-number-icon.icon-TELEFONO
					a.header-number-link-a(href="tel:(511) 372-3301") (511) 372-3301


//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt