extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
    - var bodyClass = 'class'
//- ---

//- Contenido
block content
    .block__zigzag
        .block__zigzag__item
            .block__zigzag__item__left
                .block__zigzag__item__left__inside
                    .block__zigzag__item__title
                        .tittle__general
                            .tittle__text__gnral
                                h3 Ofrecemos asesoría en:
                    .block__zigzag__item__elements
                        .block__zigzag__item__element
                            .block__zigzag__item__element__image
                                img(src=`${STATIC_URL}img/asesoria-image.png`, alt="")
                            .block__zigzag__item__element__info
                                .block__zigzag__item__element__info__text
                                    h3 Normativa Cámara de Comercio Internacional
                                    p Cartas de Crédito, Cobranza Documentaría y Transferencias al y del Exterior.
                        .block__zigzag__item__element
                            .block__zigzag__item__element__image
                                img(src=`${STATIC_URL}img/asesoria-image.png`, alt="")
                            .block__zigzag__item__element__info
                                .block__zigzag__item__element__info__text
                                    h3 Normativa Cámara de Comercio Internacional
                                    p Cartas de Crédito, Cobranza Documentaría y Transferencias al y del Exterior.
                        .block__zigzag__item__element
                            .block__zigzag__item__element__image
                                img(src=`${STATIC_URL}img/asesoria-image.png`, alt="")
                            .block__zigzag__item__element__info
                                .block__zigzag__item__element__info__text
                                    h3 Normativa Cámara de Comercio Internacional
                                    p Cartas de Crédito, Cobranza Documentaría y Transferencias al y del Exterior.
            .block__zigzag__item__right
                .block__zigzag__item__right__image(style=`background-image: url('${STATIC_URL}img/contacbg.jpg')`)
        .block__zigzag__item
            .block__zigzag__item__left
                .block__zigzag__item__left__inside
                    .block__zigzag__item__elements
                        .block__zigzag__item__element
                            .block__zigzag__item__element__image
                                img(src=`${STATIC_URL}img/asesoria-image.png`, alt="")
                            .block__zigzag__item__element__info
                                .block__zigzag__item__element__info__text
                                    h3 Normativa Cámara de Comercio Internacional
                                    p Cartas de Crédito, Cobranza Documentaría y Transferencias al y del Exterior.
                        .block__zigzag__item__element
                            .block__zigzag__item__element__image
                                img(src=`${STATIC_URL}img/asesoria-image.png`, alt="")
                            .block__zigzag__item__element__info
                                .block__zigzag__item__element__info__text
                                    h3 Normativa Cámara de Comercio Internacional
                                    p Cartas de Crédito, Cobranza Documentaría y Transferencias al y del Exterior.
            .block__zigzag__item__right
                .block__zigzag__item__right__image(style=`background-image: url('${STATIC_URL}img/contacbg.jpg')`)
        .block__zigzag__item
            .block__zigzag__item__left
                .block__zigzag__item__left__inside
                    .block__zigzag__item__elements
                        .block__zigzag__item__element
                            .block__zigzag__item__element__image
                                img(src=`${STATIC_URL}img/asesoria-image.png`, alt="")
                            .block__zigzag__item__element__info
                                .block__zigzag__item__element__info__text
                                    h3 Normativa Cámara de Comercio Internacional
                                    p Cartas de Crédito, Cobranza Documentaría y Transferencias al y del Exterior.
                        .block__zigzag__item__element
                            .block__zigzag__item__element__image
                                img(src=`${STATIC_URL}img/asesoria-image.png`, alt="")
                            .block__zigzag__item__element__info
                                .block__zigzag__item__element__info__text
                                    h3 Normativa Cámara de Comercio Internacional
                                    p Cartas de Crédito, Cobranza Documentaría y Transferencias al y del Exterior.
                        .block__zigzag__item__element
                            .block__zigzag__item__element__image
                                img(src=`${STATIC_URL}img/asesoria-image.png`, alt="")
                            .block__zigzag__item__element__info
                                .block__zigzag__item__element__info__text
                                    h3 Normativa Cámara de Comercio Internacional
                                    p Cartas de Crédito, Cobranza Documentaría y Transferencias al y del Exterior.
                        .block__zigzag__item__element
                            .block__zigzag__item__element__image
                                img(src=`${STATIC_URL}img/asesoria-image.png`, alt="")
                            .block__zigzag__item__element__info
                                .block__zigzag__item__element__info__text
                                    h3 Normativa Cámara de Comercio Internacional
                                    p Cartas de Crédito, Cobranza Documentaría y Transferencias al y del Exterior.			
            .block__zigzag__item__right
                .block__zigzag__item__right__image(style=`background-image: url('${STATIC_URL}img/contacbg.jpg')`)
    section.asesoria
        .comercio__wrapp
            .comercio__box__item
                .comercio__block__image
                    .comercio__block__historia__image
                        img(src=`${STATIC_URL}img/imagen-comercio-01.png`, alt="")
                .comercio__asesoria__text
                    .comercio__asesoria__title
                        .tittle__general
                            .tittle__text__gnral.tittle__text--dos
                                h3 Brindamos asesoría especializada en Importaciones y Exportaciones.
                    .comercio__asesoria__parrafo
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. Lorem ipsum dolor sit amet.
                    .comercio__asesoria__button
                        a.button__general.button__general--border(href="contacto.html")
                            span.button__general__tex contáctanos aquí


//- js
append scripts 
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(()=>{
            //code here ------
        })