extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.contact__wrap
		.contact__block__left(style=`background-image: url('${STATIC_URL}img/contacbg.jpg')`)
			.contact__block__left__container
				.contact__block__left__comunicate
					.contact__block__left__comunicate__text Comunicate con nosotros
					a(href="tel:(511)3723301").contact__block__left__comunicate__number (511)372-3301
				.contact__block__left__items
					.contact__block__left__item
						.contact__block__left__item__text E-MAIL
						.contact__block__left__item__links
							a.contact__block__left__item__link(href="mailto:ventas@sprinter.com.pe") ventas@sprinter.com.pe
							a.contact__block__left__item__link(href="mailto:ventas@sprinter.com.pe") ventas@sprinter.com.pe
					.contact__block__left__item
						.contact__block__left__item__text DIRECCIÓN
						.contact__block__left__item__links
							a(href="https://www.google.com.pe/maps/@-12.1223571,-76.9815876,15z?hl=es-419",target="_blank").contact__block__left__item__link Calle la Pradera 190, Int. 301,
								|
								br
								| San Borja, Lima

		.contact__block__right
			.contact__block__right__container
				.contact__block__right__title
					.tittle__general
						.tittle__text__gnral
							h3 Escríbenos y nos contactaremos
				.contact__block__right__form
					form(action="")
						ul
							li
								.general__input.general__input--js
									label.general__input__label Nombre y Apellidos:
									.general__input__inside
										input(type="text", class="validate[required] general__input__input")
							li
								.general__input.general__input--js
									label.general__input__label Nombre de la empresa:
									.general__input__inside
										input(type="text", class="validate[required] general__input__input")
							li.contact__block__right--line--two
								.general__input.general__input--js
									label.general__input__label Teléfono:
									.general__input__inside
										input(type="text", class="validate[required] general__input__input")
								.general__input.general__input--js
									label.general__input__label Email:
									.general__input__inside
										input(type="text", class="validate[required] general__input__input")
							li
								.general__input.general__input--textarea.general__input--js
									label.general__input__label Mensaje
									.general__input__inside
										textarea( class="validate[required] general__input__input")

						.contact__block__right__form__button
							button.button__general.button__general--border(href="#")
								span.button__general__tex Enviar Mensaje
						
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)
	script.
		$(function() {
			//focus para el input
			$('.general__input--js input, .general__input--js textarea, .general__input--js select, .general__input--js label').focusin(function() {
				$(this).parent().parent().addClass('active');
			});

			$('.general__input--js input, .general__input--js textarea, .general__input--js select, .general__input--js label').focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().parent().removeClass('active');
				};
			});

			$('.general__input--js input, .general__input--js textarea, .general__input--js select, .general__input--js label').each(function() {
				if ($(this).val() != "") {
					$(this).parent().parent().addClass('active');
				};
			});

			$('.general__input__file--js').each(function(k, el){
				$(el).find('input[type="file"]').change(function(e){
					var id_input = $(this).attr('id');
					$('label[for="'+id_input+'"] .general__input__file__text').html('').html( e.target.files[0].name);
				});
			});

			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});

			$("#form-example").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});
