extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
    - var bodyClass = 'class'
//- ---

//- Contenido
block content
    .message__wrap
        .message__container
            .message__info
                .message__title
                    h3 GRACIAS
                    h4 MENSAJE ENVIADO
                .message__text
                    p Gracias por enviarnos tu mensaje, nos estaremos comunicando contigo lo antes posible, puedes regresar a la página principal o quizás encuentres lo que buscabas.
                .message__button                                                                                         
                    a.button__general.button__general--border(href="home.html")
                        span.button__general__tex Regresar Home
//- js
append scripts 
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(()=>{
            //code here ------
        })