extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
    - var bodyClass = 'class'
//- ---

//- Contenido
block content
    section.error
        .error__content__wrapp
            .error__box__title
                h2 Página no encontrada
            .error__text
                p Al parecer la página que estas buscando se rompió o no existe, porque no intestas volver a la página principal o quizás encuentres lo que buscabas.
            .error__button
                a.button__general.button__general--border(href="home.html")
                    span.button__general__tex VOLVER AL HOME

//- js
append scripts 
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(()=>{
            //code here ------
        })