extends ./_common/base.pug

//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
    - var bodyClass = 'class'
//- ---

//- Contenido
block content
    section.home-banner
            .home-banner__content
                ul.home-banner__box
                    li.home-banner__slider
                        .home-banner__img(style=`background-image: url('${STATIC_URL}img/banne1-01.png')`)
                        .banner-banner__box__text
                            .banner-banner__text__info
                                h2 LLEGAMOS DONDE LA MAYORÍA NO LLEGA
                                h3 Transporte marítimo y terrestre
                                .banner-banner__button
                                    a.button__general.button__general--bgc(href="servicios.html")
                                        span.button__general__tex NUESTROS SERVICIOS
                            .banner-map(style=`background-image: url('${STATIC_URL}img/mapa-fondo-01.png')`)
                    li.home-banner__slider
                        .home-banner__img(style=`background-image: url('${STATIC_URL}img/banne1-01.png')`)
                        .banner-banner__box__text
                            .banner-banner__text__info
                                h2 LLEGAMOS DONDE LA MAYORÍA NO LLEGA
                                h3 Transporte marítimo y terrestre
                                .banner-banner__button
                                    a.button__general.button__general--bgc(href="servicios.html")
                                        span.button__general__tex NUESTROS SERVICIOS
                            .banner-map(style=`background-image: url('${STATIC_URL}img/mapa-fondo-01.png')`)
                    li.home-banner__slider
                        .home-banner__img(style=`background-image: url('${STATIC_URL}img/banne1-01.png')`)
                        .banner-banner__box__text
                            .banner-banner__text__info
                                h2 LLEGAMOS DONDE LA MAYORÍA NO LLEGA
                                h3 Transporte marítimo y terrestre
                                .banner-banner__button
                                    a.button__general.button__general--bgc(href="servicios.html")
                                        span.button__general__tex NUESTROS SERVICIOS
                            .banner-map(style=`background-image: url('${STATIC_URL}img/mapa-fondo-01.png')`)
    section.home-servicios
            .home-servicios__wrap
                .home-servicios__box
                    .home-servicios__info
                        .home-servicios__text
                            .home-servicios__title
                                .tittle__general
                                    .tittle__text__gnral
                                        h3 Nuestros servicios
                            .home-servicios__parrafo
                                p 8 servicios con los más altos estádares de calidad internacional, junto a un equipo de valor, comprometido y experimentado.
                            .home-servicios__box__button
                                .home-testimonios__banner__arrow
                                    .home-testimonios__banner__next.icon-back
                                    .home-testimonios__banner__prev.icon-next
                                .home-servicios__button
                                    a.button__general.button__general--border(href="servicios.html")
                                        span.button__general__tex MIRA TODOS
                    .home-servicios__slider
                        ul.home-servicios__slider__box
                            li.home-servicios__item
                                a(href="servicios.html")
                                    .home-servicios__item__img
                                        img(src=`${STATIC_URL}img/servicio-img-01.png` width="56" height="56")
                                        .home-servicios__item__text
                                            h3 Transporte marítimo
                            li.home-servicios__item
                                a(href="servicios.html")
                                    .home-servicios__item__img
                                        img(src=`${STATIC_URL}img/servicio-img-01-01.png` width="56" height="56")
                                        .home-servicios__item__text
                                            h3 Transporte marítimo
                            li.home-servicios__item
                                a(href="servicios.html")
                                    .home-servicios__item__img
                                            img(src=`${STATIC_URL}img/servicio-img-01.png` width="56" height="56")
                                            .home-servicios__item__text
                                                h3 Transporte marítimo
                            li.home-servicios__item
                                a(href="servicios.html")
                                    .home-servicios__item__img
                                        img(src=`${STATIC_URL}img/servicio-img-01.png` width="56" height="56")
                                        .home-servicios__item__text
                                            h3 Transporte marítimo
                        .home-servicios__box__button--responsive
                                .home-testimonios__banner__arrow
                                    .home-testimonios__banner__next.icon-back
                                    .home-testimonios__banner__prev.icon-next
                                .home-servicios__button
                                    a.button__general.button__general--border(href="servicios.html")
                                        span.button__general__tex MIRA TODOS
    section.comercio
        .comercio__wrapp
            .comercio__box__item
                .comercio__block__image
                    .comercio__block__historia__image
                        img(src=`${STATIC_URL}img/imagen-comercio-01.png`, alt="")
                .comercio__asesoria__text
                    .comercio__asesoria__title
                        .tittle__general
                        .tittle__text__gnral
                            h3 Asesoría en Comercio Exterior
                    .comercio__asesoria__parrafo
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. Lorem ipsum dolor sit amet.
                    .comercio__asesoria__button
                        a.button__general.button__general--border(href="asesoria.html")
                            span.button__general__tex LEE MÁS AQUÍ
    section.contador#contador
        .contador__wrapp
            .contador__content
                .contador__item
                    .contatador__item__numtxt
                        span +
                        h2.counter(data-count='+100') 0
                    .contatador__item__descrip
                        h3 exportaciones gestionadas
                .contador__item 
                    .contatador__item__numtxt
                        span +
                        h2.counter(data-count='+200')  0
                    .contatador__item__descrip
                        h3 exportaciones gestionadas
                .contador__item
                    .contatador__item__numtxt
                        span +
                        h2.counter(data-count='+50') 0
                    .contatador__item__descrip
                        h3 exportaciones logística
//- js
append scripts 
    //- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script(src=`${STATIC_URL}js/slick/slick.min.js`)
    script(src=`${STATIC_URL}js/jquery.waypoints.js`)


    script.
        $(()=>{

            //code here ------
             var footer_id=$('#contador');
             footer_id.waypoint(function(direction) {
                if (direction === 'down') {
                    $('.counter').each(function() {
                    var $this = $(this),
                      countTo = $this.attr('data-count');
                      console.log( $({ countNum: $this.text()}))
                      $({ countNum: $this.text()}).animate({
                        countNum: countTo
                      },

                      {

                        duration: 650,
                        easing:'linear',
                        step: function() {
                          $this.text(Math.floor(this.countNum));
                        },
                        complete: function() {
                          $this.text(this.countNum);
                          //alert('finished');
                        }

                      });  
              
                });
                }
            }, {
                offset:'50%'
            });
            $('.home-banner__box').slick({
                dots: true,
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
            });
            $('.slick-dots li').each(function(k, ele){
                if(k < 9){
                    $(ele).find('button').text(`0${k +1}`)

                }
            })
            $('.home-servicios__slider__box').slick({
                nextArrow: '.home-testimonios__banner__next',
                prevArrow: '.home-testimonios__banner__prev',
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                slidesToScroll: 1,
                centerPadding: '20px',
                variableWidth: true,
                responsive: [
                        {
                        breakpoint: 980,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            centerMode: false,
                            }
                        },
                        {
                        breakpoint: 540,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            centerMode: false
                            
                            }
                        },
                        {
                        breakpoint: 330,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            centerMode: false
                            }
                        },
                    ]
            });
        })
