extends ./_common/base.pug
//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
    - var bodyClass = 'class'
//- ---
    
//- Contenido
block content
    section.home-servicios
        .home-servicios__wrap
            .home-servicios__box
                .home-servicios__info
                    .home-servicios__text
                        .home-servicios__title
                            .tittle__general
                                .tittle__text__gnral
                                    h3 Nuestros servicios
                        .home-servicios__parrafo
                            p 8 servicios con los más altos estádares de calidad internacional, junto a un equipo de valor, comprometido y experimentado.
                        .home-servicios__box__button
                            .home-testimonios__banner__arrow
                                .home-testimonios__banner__next.icon-back
                                .home-testimonios__banner__prev.icon-next
                            .home-servicios__button
                                a.button__general.button__general--border(href="#")
                                    span.button__general__tex MIRA TODOS
                .home-servicios__slider
                    ul.home-servicios__slider__box
                        li.home-servicios__item
                            .home-servicios__item__img
                                img(src=`${STATIC_URL}img/servicio-img-01.png` width="56" height="56")
                        li.home-servicios__item
                            .home-servicios__item__img
                                img(src=`${STATIC_URL}img/servicio-img-01-01.png` width="56" height="56")
                        li.home-servicios__item
                            img(src=`${STATIC_URL}img/servicio-img-01.png` width="56" height="56")
                        li.home-servicios__item
                            img(src=`${STATIC_URL}img/servicio-img-01.png` width="56" height="56")
                    .home-servicios__box__button--responsive
                            .home-testimonios__banner__arrow
                                .home-testimonios__banner__next.icon-back
                                .home-testimonios__banner__prev.icon-next
                            .home-servicios__button
                                a.button__general.button__general--border(href="#")
                                    span.button__general__tex MIRA TODOS

//- js
append scripts 
    script(src=`${STATIC_URL}js/slick/slick.min.js`)
    script.
        $(function() {
            $('.home-servicios__slider__box').slick({
                nextArrow: '.home-testimonios__banner__next',
                prevArrow: '.home-testimonios__banner__prev',
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                slidesToScroll: 1,
                centerPadding: '20px',
                variableWidth: true,
                responsive: [
                        {
                        breakpoint: 980,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            centerMode: false,
                            }
                        },
                        {
                        breakpoint: 540,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            centerMode: false
                            
                            }
                        },
                        {
                        breakpoint: 330,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            centerMode: false
                            }
                        },
                    ]
            });
            

        });
