extends ./_common/base.pug
//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
    link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
    - var bodyClass = 'class'
//- ---
    
//- Contenido
block content
    section.home-banner
        .home-banner__content
            ul.home-banner__box
                li.home-banner__slider
                    .home-banner__img(style=`background-image: url('${STATIC_URL}img/banne1-01.png')`)
                    .banner-banner__box__text
                        .banner-banner__text__info
                            h2 LLEGAMOS DONDE LA MAYORÍA NO LLEGA
                            h3 Transporte marítimo y terrestre
                            .banner-banner__button
                                a.button__general.button__general--bgc(href="#")
                                    span.button__general__tex NUESTROS SERVICIOS
                        .banner-map(style=`background-image: url('${STATIC_URL}img/mapa-fondo-01.png')`)
                li.home-banner__slider
                    .home-banner__img(style=`background-image: url('${STATIC_URL}img/banne1-01.png')`)
                    .banner-banner__box__text
                        .banner-banner__text__info
                            h2 LLEGAMOS DONDE LA MAYORÍA NO LLEGA
                            h3 Transporte marítimo y terrestre
                            .banner-banner__button
                                a.button__general.button__general--bgc(href="#")
                                    span.button__general__tex NUESTROS SERVICIOS
                        .banner-map(style=`background-image: url('${STATIC_URL}img/mapa-fondo-01.png')`)
            .home-banner__number
                ul.home__box__number
                    li.home__numer__item 01
                    li.home__numer__item 02
                    li.home__numer__item 03

//- js
append scripts 
    script(src=`${STATIC_URL}js/slick/slick.min.js`)
    script.
        $(function() {
            $('.home-banner__box').slick({
                dots: true,
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
            });
        });
