extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.nosotros__block__historia
		.nosotros__block__historia__container
			.nosotros__block__historia__left
				span.nosotros__block__historia__bg
				.tittle__general
					.tittle__text__gnral
						h3 Nuestra Historia
					.tittle__text__text
						p Con más de tres décadas dedicados a simplificar las operaciones de comercio internacional, somos considerados uno de los Operadores Logísticos líder en el sector, avalados por nuestra excelencia en servicio y tecnología de última generación.
						p niciamos operaciones brindando el servicio de Aduanas y en el transcurso de los años fuimos complementando nuestra oferta convirtiéndonos hoy en día en un operador logístico capaz de ofrecer todos los servicios de la cadena logística local e internacional como Seguimiento Pre-Embarque, Forwarding, Agenciamiento Aduanero, Transporte y Almacenes y Distribución. Logrando obtener el 1er. Puesto en el ranking de operadores por más de 8 años consecutivos (Fuente: Aduanet), lo cual respalda nuestro liderazgo en el sector.
			.nosotros__block__historia__right
				.nosotros__block__historia__image
					img(src=`${STATIC_URL}img/nosotros-img.png`, alt="")

	.block__slider.block__slider--background.block__slider--nosotros
		ul.block__slider__items.block__slider--background--pitcher
			li.block__slider__item
				a.block__slider__item__background(href="#", style=`background-image: url('${STATIC_URL}img/banner-serv-6.png')`)
			li.block__slider__item
				a.block__slider__item__background(href="#", style=`background-image: url('${STATIC_URL}img/banner-serv-6.png')`)
			li.block__slider__item
				a.block__slider__item__background(href="#", style=`background-image: url('${STATIC_URL}img/banner-serv-6.png')`)
			li.block__slider__item
				a.block__slider__item__background(href="#", style=`background-image: url('${STATIC_URL}img/banner-serv-6.png')`)


//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script.
		$(()=>{
			var device__width = $(window).width();
			var num__slider__items__bg = $('.block__slider--background--pitcher .block__slider__item').length;
			console.log(num__slider__items__bg);
			console.log(device__width);
			if(num__slider__items__bg > 3 || device__width <= 1024){
				$('.block__slider--background').addClass('block__slider--background--active');
				$('.block__slider--background--pitcher').slick({
				infinite: true,
				speed: 300,
				slidesToShow: 3,
				slidesToScroll: 1,
				margin: 0,
				arrows: false,
				dots: false,
				centerMode: true,
				centerPadding: '100px',
				responsive: [
					{
						breakpoint: 1024,
						settings: {
						slidesToShow: 2
						}
					},
					{
						breakpoint: 480,
						settings: {
						slidesToShow: 1,
						centerMode: false,
						centerPadding: '0px'
						}
					}
				]
			});
			}
		})