extends ./_common/base.pug
//- css
append css
    //- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
    - var bodyClass = 'class'
//- ---

//- Contenido
block content
    .banner__internal(style=`background-image: url('${STATIC_URL}img/bgc-servicios.png')`)
        .banner__internal__container
            .banner__internal__title
                h3 SERVICIOS QUE BRINDAN
                h3 SOLUCIONES

    .servicios__wrap
        .servicios__container
            .servicios__links
                .servicios__responsive__button
                    .servicios__responsive__button__text Desplegar Servicios
                    .servicios__responsive__button__icon.icon-next
                .servicios__links__inside
                    .servicio__link.servicio__link--pitcher(data-id="1")
                        .servicio__icono__link--img
                            img(src=`${STATIC_URL}img/icono-1.svg`, alt="" class="plug")
                        .servicio__link__text Servicio de logística integral
                    .servicio__link.servicio__link--pitcher(data-id="2")
                        .servicio__icono__link--img
                            img(src=`${STATIC_URL}img/icono-2.svg`, alt="")
                        .servicio__link__text Vigilancia de Instalaciones
                    .servicio__link.servicio__link--pitcher(data-id="3")
                        .servicio__icono__link--img
                            img(src=`${STATIC_URL}img/icono-3.svg`, alt="")
                        .servicio__link__text Vigilancia de Instalaciones
                    .servicio__link.servicio__link--pitcher(data-id="4")
                        .servicio__icono__link--img
                            img(src=`${STATIC_URL}img/icono-4.svg`, alt="")
                        .servicio__link__text Vigilancia de Instalaciones
                    .servicio__link.servicio__link--pitcher(data-id="5")
                        .servicio__icono__link--img
                            img(src=`${STATIC_URL}img/icono-5.svg`, alt="")
                        .servicio__link__text Vigilancia de Instalaciones
                    .servicio__link.servicio__link--pitcher(data-id="6")
                        .servicio__icono__link--img
                            img(src=`${STATIC_URL}img/icono-6.svg`, alt="")
                        .servicio__link__text Vigilancia de Instalaciones
                    .servicio__link.servicio__link--pitcher(data-id="7")
                        .servicio__icono__link--img
                            img(src=`${STATIC_URL}img/icono-7.svg`, alt="")
                        .servicio__link__text Vigilancia de Instalaciones
            .servicios__content
                .servicios__content__item(id="1")
                    .servicios__content__inside
                        .servicios__content__title
                            .tittle__general
                                .tittle__text__gnral
                                    h3 Servicio de logística integral
                        .servicios__content__image(style=`background-image: url('${STATIC_URL}img/banner-serv-1.png')`)
                        .servicios__content__info
                            .servicio__content__info__text
                                p Brindamos servicios de almacenamiento bajo Régimen Aduanero o Simple. Asimismo contamos con una infraestructura moderna y Ad-hoc para todo tipo de carga, además, un área altamente especializada de valor agregado (VAS) para el acondicionamiento de promociones y especial atención a todas las cadenas retail del país, entre otros servicios
                                .servicio__content__list
                                    ul.servicio__content__box
                                        li.servicio__content__item Asignación de recursos o ejecutores
                                        li.servicio__content__item Automatización de procesos en sus distintos niveles
                                        li.servicio__content__item Posibilidades de Integración de procesos con sistemas ERP, sharepoint y Outlook
                                        li.servicio__content__item Taller de automatización con Bizagi® Studio: Casos prácticos
                                        li.servicio__content__item Ejecución de procesos
                                        li.servicio__content__item Propuesta de proyectos empresariales
                        .servicios__content__button
                            a.button__general.button__general--border(href="contacto.html")
                                span.button__general__tex COTIZA EL SERVICIO AQUÍ
                .servicios__content__item(id="2")
                    .servicios__content__inside
                        .servicios__content__title
                            .tittle__general
                                .tittle__text__gnral
                                    h3 Transporte terrestre
                        .servicios__content__image(style=`background-image: url('${STATIC_URL}img/banner-serv-2.png')`)
                        .servicios__content__info
                            .servicio__content__info__text
                                p Brindamos servicios de almacenamiento bajo Régimen Aduanero o Simple. Asimismo contamos con una infraestructura moderna y Ad-hoc para todo tipo de carga, además, un área altamente especializada de valor agregado (VAS) para el acondicionamiento de promociones y especial atención a todas las cadenas retail del país, entre otros servicios
                                .servicio__content__list
                                    ul.servicio__content__box
                                        li.servicio__content__item Asignación de recursos o ejecutores
                                        li.servicio__content__item Automatización de procesos en sus distintos niveles
                                        li.servicio__content__item Posibilidades de Integración de procesos con sistemas ERP, sharepoint y Outlook
                                        li.servicio__content__item Taller de automatización con Bizagi® Studio: Casos prácticos
                                        li.servicio__content__item Ejecución de procesos
                                        li.servicio__content__item Propuesta de proyectos empresariales
                        .servicios__content__button
                            a.button__general.button__general--border(href="contacto.html")
                                span.button__general__tex COTIZA EL SERVICIO AQUÍ
                .servicios__content__item(id="3")
                    .servicios__content__inside
                        .servicios__content__title
                            .tittle__general
                                .tittle__text__gnral
                                    h3 Transporte marítimo
                        .servicios__content__image(style=`background-image: url('${STATIC_URL}img/banner-serv-7.png')`)
                        .servicios__content__info
                            .servicio__content__info__text
                                p Brindamos servicios de almacenamiento bajo Régimen Aduanero o Simple. Asimismo contamos con una infraestructura moderna y Ad-hoc para todo tipo de carga, además, un área altamente especializada de valor agregado (VAS) para el acondicionamiento de promociones y especial atención a todas las cadenas retail del país, entre otros servicios
                                .servicio__content__list
                                    ul.servicio__content__box
                                        li.servicio__content__item Asignación de recursos o ejecutores
                                        li.servicio__content__item Automatización de procesos en sus distintos niveles
                                        li.servicio__content__item Posibilidades de Integración de procesos con sistemas ERP, sharepoint y Outlook
                                        li.servicio__content__item Taller de automatización con Bizagi® Studio: Casos prácticos
                                        li.servicio__content__item Ejecución de procesos
                                        li.servicio__content__item Propuesta de proyectos empresariales
                        .servicios__content__button
                            a.button__general.button__general--border(href="contacto.html")
                                span.button__general__tex COTIZA EL SERVICIO AQUÍ
                .servicios__content__item(id="4")
                    .servicios__content__inside
                        .servicios__content__title
                            .tittle__general
                                .tittle__text__gnral
                                    h3 Transporte aéreo
                        .servicios__content__image(style=`background-image: url('${STATIC_URL}img/banner-serv-3.png')`)
                        .servicios__content__info
                            .servicio__content__info__text
                                p Brindamos servicios de almacenamiento bajo Régimen Aduanero o Simple. Asimismo contamos con una infraestructura moderna y Ad-hoc para todo tipo de carga, además, un área altamente especializada de valor agregado (VAS) para el acondicionamiento de promociones y especial atención a todas las cadenas retail del país, entre otros servicios
                                .servicio__content__list
                                    ul.servicio__content__box
                                        li.servicio__content__item Asignación de recursos o ejecutores
                                        li.servicio__content__item Automatización de procesos en sus distintos niveles
                                        li.servicio__content__item Posibilidades de Integración de procesos con sistemas ERP, sharepoint y Outlook
                                        li.servicio__content__item Taller de automatización con Bizagi® Studio: Casos prácticos
                                        li.servicio__content__item Ejecución de procesos
                                        li.servicio__content__item Propuesta de proyectos empresariales
                        .servicios__content__button
                            a.button__general.button__general--border(href="contacto.html")
                                span.button__general__tex COTIZA EL SERVICIO AQUÍ
                .servicios__content__item(id="5")
                    .servicios__content__inside
                        .servicios__content__title
                            .tittle__general
                                .tittle__text__gnral
                                    h3 Aduanas
                        .servicios__content__image(style=`background-image: url('${STATIC_URL}img/banner-serv-4.png')`)
                        .servicios__content__info
                            .servicio__content__info__text
                                p Brindamos servicios de almacenamiento bajo Régimen Aduanero o Simple. Asimismo contamos con una infraestructura moderna y Ad-hoc para todo tipo de carga, además, un área altamente especializada de valor agregado (VAS) para el acondicionamiento de promociones y especial atención a todas las cadenas retail del país, entre otros servicios
                                .servicio__content__list
                                    ul.servicio__content__box
                                        li.servicio__content__item Asignación de recursos o ejecutores
                                        li.servicio__content__item Automatización de procesos en sus distintos niveles
                                        li.servicio__content__item Posibilidades de Integración de procesos con sistemas ERP, sharepoint y Outlook
                                        li.servicio__content__item Taller de automatización con Bizagi® Studio: Casos prácticos
                                        li.servicio__content__item Ejecución de procesos
                                        li.servicio__content__item Propuesta de proyectos empresariales
                        .servicios__content__button
                            a.button__general.button__general--border(href="contacto.html")
                                span.button__general__tex COTIZA EL SERVICIO AQUÍ
                .servicios__content__item(id="6")
                    .servicios__content__inside
                        .servicios__content__title
                            .tittle__general
                                .tittle__text__gnral
                                    h3 Seguro de carga
                        .servicios__content__image(style=`background-image: url('${STATIC_URL}img/banner-serv-5.png')`)
                        .servicios__content__info
                            .servicio__content__info__text
                                p Brindamos servicios de almacenamiento bajo Régimen Aduanero o Simple. Asimismo contamos con una infraestructura moderna y Ad-hoc para todo tipo de carga, además, un área altamente especializada de valor agregado (VAS) para el acondicionamiento de promociones y especial atención a todas las cadenas retail del país, entre otros servicios
                                .servicio__content__list
                                    ul.servicio__content__box
                                        li.servicio__content__item Asignación de recursos o ejecutores
                                        li.servicio__content__item Automatización de procesos en sus distintos niveles
                                        li.servicio__content__item Posibilidades de Integración de procesos con sistemas ERP, sharepoint y Outlook
                                        li.servicio__content__item Taller de automatización con Bizagi® Studio: Casos prácticos
                                        li.servicio__content__item Ejecución de procesos
                                        li.servicio__content__item Propuesta de proyectos empresariales
                        .servicios__content__button
                            a.button__general.button__general--border(href="contacto.html")
                                span.button__general__tex COTIZA EL SERVICIO AQUÍ
                .servicios__content__item(id="7")
                    .servicios__content__inside
                        .servicios__content__title
                            .tittle__general
                                .tittle__text__gnral
                                    h3 Almacenaje
                        .servicios__content__image(style=`background-image: url('${STATIC_URL}img/banner-serv-6.png')`)
                        .servicios__content__info
                            .servicio__content__info__text
                                p Brindamos servicios de almacenamiento bajo Régimen Aduanero o Simple. Asimismo contamos con una infraestructura moderna y Ad-hoc para todo tipo de carga, además, un área altamente especializada de valor agregado (VAS) para el acondicionamiento de promociones y especial atención a todas las cadenas retail del país, entre otros servicios
                                .servicio__content__list
                                    ul.servicio__content__box
                                        li.servicio__content__item Asignación de recursos o ejecutores
                                        li.servicio__content__item Automatización de procesos en sus distintos niveles
                                        li.servicio__content__item Posibilidades de Integración de procesos con sistemas ERP, sharepoint y Outlook
                                        li.servicio__content__item Taller de automatización con Bizagi® Studio: Casos prácticos
                                        li.servicio__content__item Ejecución de procesos
                                        li.servicio__content__item Propuesta de proyectos empresariales
                        .servicios__content__button
                            a.button__general.button__general--border(href="contacto.html")
                                span.button__general__tex COTIZA EL SERVICIO AQUÍ
//- js
append scripts 
    script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
    script.
        $(function() {
            $('.servicio__link:nth-child(1)').addClass('active');
            $('.servicios__content__item:nth-child(1)').addClass('active');

            // tab solo
            $('.servicio__link--pitcher').click(function(e){
                e.preventDefault();
                $('.servicio__link').removeClass('active');
                $(this).addClass('active');
                var data_id = $(this).attr('data-id');
                console.log(data_id);
                $('.servicios__content__item').removeClass('active');
                $('.servicios__content__item[id="'+ data_id+'"]').addClass('active');
                });


            $('.servicios__responsive__button').click(function(e){
                    $(".servicios__links__inside").stop().slideToggle();
            });
        });
