.contact__wrap
	display: flex
	flex-wrap: wrap
	align-items: center
	height: 610px

.contact__block__left
	width: 50%
	background-size: cover
	position: relative
	height: 100%
	display: flex
	align-items: center
	padding-right: 8%
	box-sizing: border-box
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $c-1
		opacity: .8

.contact__block__left__comunicate
	margin-bottom: 45px

.contact__block__left__comunicate__text
	font-size: 27px
	font-family: $t-3
	color: $blanco

.contact__block__left__comunicate__number
	font-size: 45px
	color: $blanco
	font-family: $t-2
	letter-spacing: 1.5px

.contact__block__left__item
	margin-bottom: 35px
	&:last-child
		margin-bottom: 0

.contact__block__left__item__text
	font-size: 18px
	font-family: $t-2
	color: $blanco
	margin-bottom: 15px

.contact__block__left__item__link
	display: block
	color: $blanco
	font-size: 18px
	font-family: $t-3

.contact__block__left__container
	max-width: 400px
	margin-right: 0
	margin-left: auto
	position: relative
	padding: 0 20px
	box-sizing: border-box

.contact__block__right
	width: 50%
	height: 100%
	display: flex
	align-items: center
	padding-left: 5.5%
	box-sizing: border-box
	background: $c-9

.contact__block__right__container
	max-width: 520px
	margin-left: 0
	margin-right: auto
	padding: 0 20px
	box-sizing: border-box

.contact__block__right__title
	margin-bottom: 25px

.contact__block__right__form
	.general__input
		margin-bottom: 20px

.contact__block__right--line--two
	display: flex
	flex-wrap: wrap
	.general__input
		width: 48%
		margin-right: 4%
		&:last-child
			margin-right: 0

.contact__block__right__form__button
	margin-top: 50px

@media screen and (max-width: 1200px)
	.contact__block__right
		padding-left: 0

	.contact__block__right__container
		margin: auto

	.contact__block__left
		padding-right: 0

	.contact__block__left__container
		margin: auto

@media screen and (max-width: 960px)
	.contact__block__left__comunicate__number
		font-size: 35px

@media screen and (max-width: 767px)
	.contact__wrap
		height: auto
	.contact__block__left
		width: 100%
		padding: 40px 0
	.contact__block__right
		width: 100%
		padding: 40px 0

	.contact__block__left__container
		padding: 0 15px

	.contact__block__right__container
		padding: 0 15px
	
	.contact__block__left__comunicate__number
		font-size: 30px

@media screen and (max-width: 480px)
	.contact__block__right--line--two .general__input
		width: 100%
		margin-right: 0

	.contact__block__left__comunicate__text
		font-size: 25px


// VALIDATE
.formError
	.formErrorContent,
	.formErrorArrow div
		background-color: $c-3 !important
		color: $blanco  !important
		border: none  !important
		font-size: 13px !important
		font-family: $t-0  !important
	.formErrorArrow
		.line1,.line2
			display: none 