.asesoria
	.comercio__box__item
		flex-direction: row-reverse
	.comercio__asesoria__text
		padding-right: 10%
.comercio
	background: #F8FAFB
	margin-top: 54px
.comercio__block__historia__image
	width: 100%	
	img
		height: auto
		display: block
		width: 100%
.comercio__wrapp
	max-width: 980px
	margin: auto

.comercio__box__item
	display: flex
	padding: 0 20px
	box-sizing: border-box
.comercio__block__image
	width: 100%
	display: flex
	align-self: flex-end
	position: relative
.comercio__asesoria__text
	display: flex
	padding-left: 6%
	flex-direction: column
	justify-content: center
.comercio__asesoria__parrafo
	padding-top: 30px
	p
		font-size: 16px
		font-family: $t-0
		color: $c-0
.comercio__asesoria__button
	padding-top: 40px
.contador
	background: $c-1
.contador__wrapp
	max-width: 1200px
	margin: auto
.contador__content
	display: flex
	padding-left: 20px
	padding-right: 20px
	justify-content: space-between
.contador__item
	display: flex
	padding-bottom: 70px
	padding-top: 70px
	align-items: center
	h2
		color: white
		font-size: 60px
		font-family: $t-2
	h3
		font-size: 21px
		padding-left: 22px
		font-family: $t-0
		max-width: 150px
		color: white
	span
		color: white
		font-size: 60px
		font-family: $t-2
.contatador__item__numtxt
	display: flex
@media screen and (max-width: 980px)
	.contador__content
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
	.contador__item
		padding-bottom: 30px
		padding-top: 30px
@media screen and (max-width: 768px)
	.comercio__block__historia__image
		display: none
	.comercio__block__image
		display: none
	.comercio__asesoria__text
		text-align: center
		padding-top: 40px
		padding-bottom: 40px
		padding-left: 0
@media screen and (max-width: 550px)
	.contador__item
		flex-direction: column
		text-align: center