.home-banner
	overflow: hidden
	.slick-initialized .slick-slide
		display: flex
	.slick-dots li button:before
		content: none
	.slick-dots li
		width: 40px
		&.slick-active
			
			button
				color: white
				font-size: 20px
	.slick-dots li button
			color: rgba(255, 255, 255, 0.56)
			font-size: 20px
	.slick-dots
		position: absolute
		left: 21%
		right: 0
		text-align: left
		padding-left: 20%
		bottom: 40px
		margin: auto
		max-width: 420px
		&:before
			content: ""
			background: white
			left: -20px
			width: 30%
			top: 0
			height: 2px
			position: absolute
			bottom: 0
			margin: auto

.home-banner__img
	width: 100%
	height: 794px
	background-size: cover
	background-repeat: no-repeat
.home-banner__slider
	display: flex
	align-items: center

.banner-banner__box__text
	width: 50%
	margin: auto
	padding-left: 15px
	padding-right: 15px
	position: relative
.banner-map
	position: absolute
	height: 604px
	width: 100%
	bottom: 0
	background-size: cover
	top: 0
	margin: auto
	right: 0
	left: 0
.home-banner__content
	position: relative
.home-banner__img
	width: 50%
	background-position: center
.home-banner__box
	background: $c-1
	position: relative
.home-banner__number
	position: absolute
	left: 21%
	right: 0
	text-align: center
	bottom: 40px
	margin: auto
	max-width: 420px
	&:before
		content: ""
		background: white
		left: -20px
		width: 30%
		top: 0
		height: 2px
		position: absolute
		bottom: 0
		margin: auto
.home-banner__slider
	&.slick-active
		.banner-banner__text__info
			transform: translateY(0px)
			opacity: 1
.home__numer__item
	display: inline-block
	padding-left: 26px
	vertical-align: middle
	font-size: 24px
	font-family: $t-1
	color: white
.banner-banner__text__info
	position: relative
	z-index: 7
	max-width: 530px
	margin: auto
	transform: translateY(200px)
	opacity: 0
	transition: all 0.7s cubic-bezier(0.68, -0.45, 0.165, 1.35)
	h2
		font-size: 48px
		font-family: $t-1
		color: white
	h3
		font-size: 30px
		font-family: $t-0
		color: white
.banner-banner__button
	padding-top: 40px
@media screen and (max-width: 980px)
	.home-banner__slider
		flex-direction: column
		position: relative
	.home-banner__img
		width: 100%
		height: 654px
		position: relative
		&:before
			content: ""
			left: 0
			right: 0
			width: 100%
			bottom: 0
			top: 0
			height: 100%
			position: absolute
			background: rgba(0, 142, 203, 0.4392156862745098)
	.banner-map
		display: none
	.banner-banner__box__text
		position: absolute
		width: 100%
		top: 0
		text-align: center
		bottom: 0
		padding-left: 0
		padding-right: 0
		display: flex
		left: 0
		right: 0
	.home-banner__content
		position: relative
	.home-banner
		.slick-dots
			text-align: center
			left: 0
			padding-left: 0
			&:before
				content: none
@media screen and (max-width: 550px)
	.banner-banner__text__info
		padding-right: 15px
		padding-left: 15px
		h2
			font-size: 35px
		h3
			font-size: 25px
	.home-banner__img
		height: 474px
@media screen and (max-width: 480px)
	.banner-banner__text__info
		h2
			font-size: 25px
		h3
			font-size: 20px
