.home-servicios__slider__box
	.slick-slide
		margin-left: 13px
.home-servicios
	overflow: hidden
.home-servicios__box
	display: flex
.home-servicios__info
	width: 40%
.home-servicios__slider
	width: 60%
.home-servicios__text
	max-width: 360px
	margin: auto
	p
		font-size: 16px
		font-family: $t-0
		color: $c-0
.home-servicios__box__button
	display: flex
	padding-top: 53px
.home-testimonios__banner__arrow
	display: flex
	padding-right: 25px
.home-servicios__item__img
	position: relative
	&:before
		content: "\e901"
		left: 0
		z-index: 5
		font-family: icomoon
		right: 0
		text-align: center
		transition: all 450ms ease
		color: white
		width: 40px
		height: 40px
		border-radius: 50%
		background: $c-1
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		display: flex
		justify-content: center
		align-content: center
		align-items: center
	&:after
		content: ""
		position: absolute
		width: 100%
		height: 100%
		background: linear-gradient(to bottom, rgba(39,36,37,0.2) 0%,rgba(39,36,37,0.2) 100%)
		left: 0
		right: 0
		top: 0
		
	&:hover
		&:before
			opacity: 0
		.home-servicios__item__text
			transform: translateY(0)
		
.home-servicios__item__text
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	text-align: center
	margin: auto
	transform: translateY(480px)
	height: 0
	z-index: 5
	transition: all 450ms ease
	h3
		font-size: 27px
		font-family: $t-1
		color: white
		margin: auto
.home-testimonios__banner__next
	border: 1px solid $c-0
	padding-left: 15px
	padding-right: 15px
	padding-top: 15px
	padding-bottom: 15px
	cursor: pointer
.home-testimonios__banner__prev
	border: 1px solid $c-0
	padding-left: 15px
	padding-right: 15px
	padding-top: 15px
	padding-bottom: 15px
	cursor: pointer
.home-servicios__box
	padding-top: 93px
.home-servicios__box__button--responsive
	display: none
@media screen and (max-width: 980px)
	.home-servicios__info
		width: 100%
	.home-servicios__slider
		width: 100%
		padding-top: 30px
	.home-servicios__box
		flex-direction: column
	.home-servicios__text
		text-align: center
	.home-servicios__box__button
		align-items: center
		justify-content: center
	.home-servicios__box__button
		display: none
	.home-servicios__box__button--responsive
		display: flex
		justify-content: center
		flex-direction: column
		align-items: center
	.home-testimonios__banner__arrow
		padding-right: 0
		padding-top: 20px
		padding-bottom: 20px

	.home-servicios__box
		padding-top: 50px
		padding-bottom: 50px

@media screen and (max-width: 767px)
	.home-servicios__box
		padding-top: 40px
		padding-bottom: 40px