.servicios__wrap
    padding-top: 50px	
    padding-bottom: 100px
    background-color: #F8FAFB
.servicios__content__button
    .button__general--border
        background-color: #F8FAFB
.banner__internal
    position: relative
    height: 338px
    width: 100%
    justify-content: center
    display: flex
    background-repeat: no-repeat
    background-size: cover
    &:before
        content: ""
        width: 100%
        height: 100%
        background: rgba(0, 142, 203, 0.8)
        position: absolute

.banner__internal__title
    text-align: center
    position: relative
    z-index: 2
    h3
        font-size: 48px
        margin: auto
        color: white
        font-family: $t-6
.servicios__container
    max-width: 1240px
    padding: 0 20px
    box-sizing: border-box
    margin: auto
    font-size: 0
    display: flex
    
.banner__internal__container
    display: flex
    align-items: center

.servicios__links
    width: 402px
    height: 100%
    display: inline-block
    vertical-align: top
    box-shadow: 10px 10px 11px -3px rgba(194,192,194,.2)
    position: relative	
    z-index: 5
    top: -75px
    background: $blanco
    transition: all .25s ease-in-out

.servicios__content
    width: calc(100% - 402px)
    padding-left: 6%
    box-sizing: border-box

.servicio__link
    display: flex
    align-items: center
    height: 97px
    border-bottom: 1px solid #D7D7D8
    cursor: pointer
    padding: 10px 20px
    padding-right: 50px
    box-sizing: border-box
    position: relative
    transition: all .25s ease-in-out
    &:last-child
        border-bottom: none
    &:after
        content: "\e903"
        font-family: $icomoon
        font-size: 17px
        display: block
        position: absolute
        top: 50%
        right: 30px
        transform: translateY(-50%)
        color: $c-2
    &.active
        .servicio__link__icon
            color: $c-1
        .servicio__link__text
            color: $c-2
        .servicio__icono__link--img
            filter: grayscale(17.7%) sepia(154%) brightness(95%) hue-rotate(49deg) saturate(215%) contrast(163%)
.servicio__icono__link--img
    width: 40px 
    height: 40px
    img
        max-width: 100%
        display: block
        height: auto

.servicio__link__icon
    font-size: 36px	
    color: $c-0
    margin: 0
    display: block
    margin-right: 20px
    transition: all .25s ease-in-out

.servicio__link__text
    display: block
    font-size: 16px
    font-family: $t-0
    padding-left: 35px
    color: $c-1
    line-height: 1.3
    transition: all .25s ease-in-out

.servicios__content__info
    font-size: 17px
    margin-top: 65px
    transition: all .25s ease-in-out
    p 
        margin: 0

.servicios__content__image
    background-size: cover
    background-position: center center
    background-repeat: 	no-repeat
    height: 350px

.servicios__content__info
    p
        margin: 0


.servicios__content__title
    margin-bottom: 30px

.servicios__content
    position: relative
.servicio__content__info__text
    p
        color: $c-0
        font-family: $t-0
        font-size: 16px
.servicio__content__box
    padding-top: 36px
    .servicio__content__item 
        color: $c-0
        font-family: $t-0
        font-size: 16px
        padding-left: 15px
        position: relative
        &:before
            content: ""
            width: 4px
            height: 4px
            border-radius: 50%
            background-color: $c-2
            position: absolute
            left: 0
            top: 0
            bottom: 0
            margin: auto
.servicios__content__item
    position: absolute
    top: 0	
    left: 0	
    opacity: 0
    visibility: hidden
    &.active
        opacity: 1
        visibility: visible
        position: relative

.servicios__content__button
    margin-top: 50px
    

.servicios__responsive__button
    display: flex
    align-items: center
    padding: 15px 0
    cursor: pointer
    display: none
    justify-content: center

.servicios__responsive__button__text 
    font-size: 25px	
    color: $c-4
    color: $c-1
    text-transform: uppercase
    font-family: $t-1

.servicios__responsive__button__icon
    display: block
    transform: rotate(90deg)
    font-size: 16px
    color: $c-4
    margin-left: 20px

@media screen and (max-width: 1024px)
    .servicios__wrap
        padding-top: 50px
        padding-bottom: 50px
    .banner__internal__title h3
        font-size: 38px
@media screen and (max-width: 960px)
    .servicios__links
        width: 100%
        box-shadow: none
    .servicio__content__box
        text-align-last: left
        text-align: justify
    .servicios__content
        padding-left: 0
        width: 100%
        margin-top: 40px
        text-align: center

    .servicios__content__info
        margin-top: 50px

    .servicios__responsive__button
        display: flex	

    .servicios__container
        justify-content: center
        flex-direction: column

    .servicios__links
        top: 0


@media screen and (max-width: 767px)
    .servicios__container
        padding: 0 15px

    .servicios__content__button
        margin-top: 40px

    .servicios__content__info
        margin-top: 40px

    .servicio__link:after
        right: 10px

    .servicio__link
        padding: 10px 15px
        padding-right: 30px

    .servicios__wrap
        padding-top: 40px
        padding-bottom: 40px

    .servicio__link__icon
        font-size: 30px
        margin-right: 15px

    .servicios__responsive__button__text
        font-size: 22px


    .banner__internal__title
        h3
            font-size: 35px
