.block__zigzag
	padding-top: 30px
.block__zigzag__item
	display: table
	width: 100%
	height: 450px
	&:nth-child(even)
		.block__zigzag__item__left
			float: right 
		.block__zigzag__item__right
			float: left

.block__zigzag__item__left
	width: 50%
	padding: 40px 20px
	display: table-cell
	vertical-align: middle
	box-sizing: border-box
	height: 100%

.block__zigzag__item__title
	margin-bottom: 35px

.block__zigzag__item__left__inside
	max-width: 500px
	margin: auto
	display: flex
	flex-direction: column
	justify-content: center
	height: 100%

.block__zigzag__item__element__image
	display: inline-block
	vertical-align: middle
	border-radius: 100%
	border: 2px solid $c-1
	box-sizing: border-box
	width: 82px
	height: 82px

.block__zigzag__item__element
	display: flex
	flex-wrap: wrap
	align-items: center
	font-size: 0
	margin-bottom: 35px
	&:last-child
		margin-bottom: 0

.block__zigzag__item__element__info
	width: calc(100% - 82px)
	display: inline-block
	vertical-align: middle
	padding-left: 20px
	box-sizing: border-box

.block__zigzag__item__element__info__text
	h3
		margin: 0
		margin-bottom: 5px
		font-size: 18px
		font-family: $t-1
		color: $c-0
		line-height: 1.4
	p
		margin: 0
		font-size: 16px
		font-family: $t-0
		color: $c-0
		line-height: 1.5

.block__zigzag__item__right
	width: 50%
	height: 100%
	display: table-cell

.block__zigzag__item__right__image
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	width: 100%
	height: 100%

@media screen and (max-width: 960px)
	.block__zigzag__item
		height: auto
		display: block

	.block__zigzag__item__left
		width: 100%
		display: block

	.block__zigzag__item__right
		height: 300px
		width: 100%
		display: block

	.block__zigzag__item:nth-child(even) .block__zigzag__item__left
		float: inherit

	.block__zigzag__item:nth-child(even) .block__zigzag__item__right
		float: inherit

	.block__zigzag__item__left__inside
		max-width: 100%

@media screen and (max-width: 767px)
	.block__zigzag__item__element__image
		width: 60px
		height: 60px

	.block__zigzag__item__element__info
		width: calc(100% - 60px)

	.block__zigzag__item__left
		padding: 40px 15px


@media screen and (max-width: 480px)
	.block__zigzag__item__element__image
		margin: auto
		margin-bottom: 15px

	.block__zigzag__item__element__info
		padding-left: 0
		width: 100%
		text-align: center

	.block__zigzag__item__title
		text-align: center