.nosotros__block__historia
	padding-top: 52px
	overflow: hidden
	.tittle__general
		position: relative
	.tittle__text__text
		padding-top: 30px
		padding-bottom: 50px
		font-size: 16px
		font-family: $t-0
		color: $c-0
		line-height: 1.6

.nosotros__block__historia__container
	max-width: 1240px
	padding: 0 20px
	box-sizing: border-box	
	margin: auto
	display: flex
	flex-wrap: wrap 

.nosotros__block__historia__left
	width: 58.5%
	position: relative

.nosotros__block__historia__bg
	background: $c-10
	height: 100%
	width: 100%
	position: absolute
	top: 50px
	left: 0
	&:before
		content: ""
		position: absolute
		top: 0
		left: 100%
		background: $c-10
		height: 100%
		width: 200%
	&:after
		content: ""
		position: absolute
		top: 0
		right: 100%
		background: $c-10
		height: 100%
		width: 200%	

.nosotros__block__historia__right
	width: 41.5%
	display: flex
	align-self: flex-end
	position: relative

.nosotros__block__historia__image
	width: 100%	
	img
		height: auto
		display: block
		width: 100%

@media screen and (max-width: 960px)
	.nosotros__block__historia__left
		width: 100%	

	.nosotros__block__historia__right
		display: none

	.nosotros__block__historia .tittle__text__text
		padding-top: 40px
		padding-bottom: 40px

@media screen and (max-width: 767px)
	.nosotros__block__historia
		padding-top: 40px

.block__slider__items
	font-size: 0

.block__slider__item
	display: inline-block
	width: 32.66%
	margin-right: 1%
	&:nth-child(3n+3)
		margin-right: 0

.block__slider__item__background
	display: block
	width: 100%
	height: 415px
	background-size: cover
	background-repeat: no-repeat
	background-position: center center

.block__slider--background--active
	.block__slider__item
		margin: 0 10px
		&:nth-child(3n+3)
			margin: 0 10px


@media screen and (max-width: 1024px)	
	.block__slider__item__background
		height: 350px
