extends ./_common/base.pug
//- btn
block content
    a.button__general.button__general--border(href="#")
        span.button__general__tex texto
    .g-button__color
        a.button__general.button__general--bgc(href="#")
            span.button__general__tex texto