extends ./_common/base.pug
//- input

append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

block content
	h3(style="background: red; color:white;padding: 10px 0; font-size:20px") INPUT TYPE TEXT

	.general__input.general__input--js
		label.general__input__label Titulo efect
		.general__input__inside
			input(type="text", class="validate[required] general__input__input")


	//- br
	

	//- .general__input__file.general__input__file--js
	//- 	.general__input__inside
	//- 		input(type="file", id="file-input")
	//- 		label(for="file-input", class="general__input__file__label")
	//- 			span.general__input__file__text Adjuntar Archivo
	//- 			span.general__input__file__ico c
				
		
	br

	h3(style="background: red; color:white;padding: 10px 0; font-size:20px") SELECT

	.general__input.general__input--select.general__input__icon--right.general__input--js
		label.general__input__label Titulo efect
		.general__input__inside
			.general__input__ico.general__input__ico__right.icon-arrow-bottom
			select(name="", class="general__input__input")
				option(value="0") Select0
				option(value="1") Select1
				option(value="2") Select2

	
	br

	h3(style="background: red; color:white;padding: 10px 0; font-size:20px") TEXTAREA

	.general__input.general__input--textarea.general__input--js
		label.general__input__label Titulo efect
		.general__input__inside
			textarea( class="validate[required] general__input__input")

	br

	h3(style="background: red; color:white;padding: 10px 0; font-size:20px") RADIOBUTTONS GENERALS

	.general__input.general__input--check--radio.general__input--radio
		.general__input__inside
			input(type="radio", id="radio1", name="radio-name", checked="checked")
			label(for="radio1", class="general__input--check--radio--label")
				.general__input__inside__container
					.general__input__figure
					.general__input__text Radio

	.general__input.general__input--check--radio.general__input--radio
		.general__input__inside
			input(type="radio", id="radio2", name="radio-name")
			label(for="radio2", class="general__input--check--radio--label")
				.general__input__inside__container
					.general__input__figure
					.general__input__text Radio
	
	
	h3(style="background: red; color:white;padding: 10px 0; font-size:20px") CHECKBOX GENERALS

	.general__input.general__input--check--radio.general__input--checkbox
		.general__input__inside
			input(type="checkbox", id="check1")
			label(for="check1", class="general__input--check--radio--label")
				.general__input__inside__container
					.general__input__figure
					.general__input__text Checkbox



append scripts
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)
	script.
		$(function(){
			//focus para el input
			$('.general__input--js input, .general__input--js textarea, .general__input--js select, .general__input--js label').focusin(function() {
				$(this).parent().parent().addClass('active');
			});

			$('.general__input--js input, .general__input--js textarea, .general__input--js select, .general__input--js label').focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().parent().removeClass('active');
				};
			});

			$('.general__input--js input, .general__input--js textarea, .general__input--js select, .general__input--js label').each(function() {
				if ($(this).val() != "") {
					$(this).parent().parent().addClass('active');
				};
			});

			$('.general__input__file--js').each(function(k, el){
				$(el).find('input[type="file"]').change(function(e){
					var id_input = $(this).attr('id');
					$('label[for="'+id_input+'"] .general__input__file__text').html('').html( e.target.files[0].name);
				});
			});

			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});

			$("#form-example").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});


	

