.button__general
    padding: 0
    margin: 0
    display: inline-block
    position: relative
    padding: 0 30px
    height: 45px
    border: none
    line-height: 45px
    font-size: 15px
    font-family: $t-1
    border-radius: 5px
    transition: .3s ease
    text-transform: uppercase
.button__general--border
    background: $blanco
    border: 2px solid $c-1
    color: $c-1
    @media screen and (min-width: 1025px)
        &:hover
            background-color: $c-1
            color: $blanco
.button__general--bgc
    border: 2px solid $blanco
    color: $blanco
    @media screen and (min-width: 1025px)
        &:hover
            background-color: $blanco
            color: $c-1
.g-button__color
    background: red
    width: 100%
    display: block
  