.tittle__text__gnral
    h3
        color: $c-2
        font-size: 30px
        font-family: $t-6
.tittle__text--dos
    max-width: 650px
@media screen and (max-width: 580px)
    .tittle__text__gnral
        h3
            font-size: 25px
